*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: auto;
    width: 100%;
    margin: auto;
}
header{
    margin-top: 1%;
    height: 3em;
}
.logo{
    width: 15em;
    margin-top: -4em;
}
img svg{
    color:rgb(11, 14, 17);
}
.btn1{
    height: 2em;
    width: 6em;
    border: none;
    border-radius: 3px;
    background-color: #deb707;
}
.btn2, .btn3{
    background-color: #deb707;
    border: none;
    border-radius: 3px;
    height: 2em;
    width: 7em;
    padding: 2px;
}
.btn3{
    height: 3em;
    width: 23.6em;
    margin: 2em 0px;
    
}
.btn4, .btn5{
    height: 3em;
    width: 11em;
    margin: 2em 0em;
}
.btn5{
    margin: 1em;
}
img{
    height: auto;
    width: 30em;
}

.contn{
    display: flex;
}


.hero{
    background-image: url(./images/Binance-background-image.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 10em;

}
.hero > div{
    font-size: 20px;
}


 nav{
    display: flex;
    
 }
 ul > li{
    margin-top: 0.4em;
 }
.navs{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30%;
}
ul{
    display: flex;
    gap: 0.5em;
    
}

li{
    list-style-type: none;
}

.nav1 > li{
    width: 5em;
}
.nav2 > li{
    width: 5em;
}

.promo{
    text-align: center;
    background-color: #faefbd;
    height: 3em;
    padding-top: 0.7em;
    position: sticky;
    top: 0px;
}

.stats{
    display: flex;
    justify-content: flex-start;
    gap: 6em;
    margin-left: 10em;
    font-size: 20px;
       
}

.sec2{
    margin-top: 3em;
    margin-left: 14em;
}

.sec2 > img{
    width: 80%;
}
.svg{
    width: 1.1em;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 4em;

}
.sect3 {
    margin-left: 12em;
}

.grid :nth-child(3){
    color: green;
    
}

.signup{
    margin-left: 15em;
    margin-bottom: 2em;
}


.signup > button{
    margin: 2em 0em;
    background-color: #deb707;
    border: none;
    border-radius: 4px;
    height: 3.2em;
    width: 15em;
}
